.DS_Store
AVPlayerCaching/AVPlayerCaching.xcodeproj/project.xcworkspace/xcuserdata/eugene_zhuk_work.xcuserdatad/UserInterfaceState.xcuserstate
AVPlayerCaching/AVPlayerCaching.xcodeproj/xcuserdata/eugene_zhuk_work.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
